/venv/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/EffectiveMobile.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/db.json
